.login{
    padding-left:0;
    padding-right:0;
    background-image: url('https://raw.githubusercontent.com/chethankumar/sparrow/master/static/images/dan-gold.jpg');
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(43, 44, 44, 0.48);
    height:100vh !important;

    .row{
        margin-left: 0;
        margin-right: 0;
    }
    
    .customRow{
        height:100vh !important;

        .page{
            color: #fff;
            // background-color: #006eb0 !important;
            display:flex;
            flex-direction: row;
            justify-content: space-between;

            .header{
                margin-bottom: 8rem;
                margin-left: 4rem;
                align-self: flex-end;
                font-size: 6rem;
                font-weight: 100;
            }

            .loginStuff{
                align-self: center;
                margin: 6rem;
                display: flex;
                flex-direction: column;
                width: 20%;

                .labels{
                    display: flex;
                    flex-direction: row !important;
                    justify-content: space-around;
                    align-items: baseline;
                    p{
                        font-weight: 400;
                    }
                    h1{
                        font-weight: 200;
                        cursor: pointer;
                    }
                    margin-bottom: 1rem;
                }

                .selected{
                    color: #fff;
                    font-weight: 400 !important;
                }

                .unselected{
                    color: rgb(221, 217, 217);
                    font-weight: 200 !important;
                }

                input{
                    border-radius: 4rem;
                    
                }

                .btns{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                }

                .loginBtn{
                    border-radius: 4rem !important;
                    color: #006eb0;
                    background-color: #fff;
                    width: 100%;

                    > button{
                        border-radius: 4rem !important;

                        &:hover{
                            border-radius: 4rem !important;
                        }
                    }
                }

                .signupBtn{
                    border-radius: 4rem !important;
                    color: #006eb0;
                    background-color: #fff;
                    width: 100%;

                    > button{
                        border-radius: 4rem !important;
                        background-color: #fff;

                        &:hover{
                            border-radius: 4rem !important;
                        }
                    }
                }
            }
        }
    }

}